.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color: #FFFFFF!important;
}

.line:hover {
    background: #eaeaea;
    cursor: pointer;
}